# /etc/systemd/system/mega-cmd-server.service

[Unit]
Description=Mega Cmd Server

[Service]
User=pascal
Group=users
ExecStart=/usr/bin/mega-cmd-server

[Install]
After=basic.target
WantedBy=multi-user.target

